@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin:0;
    overflow-x: hidden;
}
.container {
    width: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.top-part {
    width:100vw;
    height: 90vh;
    background-image: url(../assets/crazy.jpg);
    place-items: center;
}

.top-part h1 {
    position:relative;
    margin: 0 auto;
    padding: 1rem;
    margin-left: -70vh;
    margin-top: 20vh;
    font-size: 100px;
    z-index: 1;
}

.blob-wrapper {
    position: relative;
    display: inline-block;
    padding: 2rem;
}

.blob {
    position: absolute;
    top: 20vh;
    left: -70vh;
    width: 40vh;
    height: 30vh;
    background: #9aa3e6;
    z-index: 0;
    border-radius: 50% 70% 40% 70% / 60% 50% 70% 40%;
    box-shadow: 8rem -16px rgb(80, 129, 107);
}

.nav {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    gap: 40vh;
}

.nav a {
    text-decoration: none;
    background-color: #398080;
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.nav a:hover {
    background-color:rgb(127, 203, 209);
}

/* bottom part */

.bottom-part {
    color:rgb(255, 255, 255);
    background-color: #378f93;
    width: 100vw;
}

.arrow {
    width: 100vw;
    height: 10vh;
}

.arrow p {
    font-size: 50px;
    margin-top:0;
    margin-left: 47vw;
}

.headers {
    display: flex;
    flex-direction: row;
    gap: 27vw;
    margin-left: 8vw;
}

.protected-resource {
    margin-left: 34vw;
}

